*{ 
margin:0;
Padding:0;
Outline:none;
} 
html{
height:100%;
}
body{
width:100%;
height:100%;
background-color:#fff;
color:#3333;
Font-family:"Segoe UI",arial,Sans-serif;
Font-size:1em;
line-height:135%;
float:left;
}
Img{
max-width:100%;
width:auto/9;//ie8
height:auto;
}
a{
color:#38484;
text-decoration:none;
}
a:hover{
color:#efdea0;
}
a,a:hover{
-webkit-transition:all,6s,ease;
-moz-transition:all,6s,ease;
-O-transition:all,6s,ease;
-ms-transition:all,6s,ease;
transition:all,6s,ease;
}
.clear{
clear:both;
}
//стили для шапки
Header{
width:98%;
float:left;
Padding:1%;
background-color:#fafafa;
border-bottom:2em,solid,silver;
margin-bottom:20px;
}
header #logo{
Width:40%;
float:left;
}
header #logo a{
color:#939393;
Font-size:2em;
Font-family:Times New Roman,Sans-serif;
}
header #logo span{
color:#e36565;
}
header#menuhead{
Width:30%;
float:left;
}
header #menuhead div{
float:left;
padding:5px;
background-color:#c8c8c8;
border-radius:5em;
color:#FFFFFF;
}
header #menuhead div:hover{
background-color:#e7e7e7;
}
header#regayth{
Width:30%;
float:left;
text-align:right;
Font-size:1.2em;
}
//стили для всего дркумента
#wrapper{
Width:80%;
margin-left:10%;
float:left;
}
//стили для левой колрнки
@media (min-width:800px;){
#wrapper #leftcol{
width:70%;
margin-left:10%;
float:left;
}}
@media (min-width:799px;){
#wrapper #leftcol{
width:90%;
margin-left:5%;
float:left;
}}
#wrapper #leftcol #bigarticle{
width:78%;
margin-left:10%;
float:left;
Padding:1%;
background-color:#f6f6f6;
}
#wrapper #leftcol #bigarticle img,
#wrapper #leftcol #artisle img{
width:100%;
margin-bottom:10px;
float:left;
}
#wrapper #leftcol #bigarticle h2,
#wrapper #leftcol #artisle h2{
Font-weight:normal;
color:#636363;
Font-size:4em;
Font-family:comic Sans MS,Sans-serif;
}
#wrapper #leftcol #bigarticle p,
#wrapper #leftcol #artisle p{
Width:98%;
Margin-left:5%;
}
#wrapper #leftcol #bigarticle div.nore,
#wrapper #leftcol #artisle div.nore{
padding:5px;
border-radius:5px;
background-color:#878787;
color:#fff;
Width:10%;
text-align:center;
margin-top:10px;
}
#wrapper #leftcol #bigarticle div.nore:hover,
#wrapper #leftcol #artisle div.nore:hover{
background-color:#2a2a2aa;
}
#wrapper #leftcol #artisle{
width:40%;
margin-left:5%;
float:left;
Padding:1%;
background-color:#f6f6f6;
}
#wrapper #leftcol #artisle div.nore{
Width:20;
} 
#wrapper #leftCol #messageShow{
font-size: 1.2em;
float: left;
color: red;
width: 100;
text-align: center;
} 
 //стили о строничке о нас 
#wrapper #leftCol #about_us{
Width:76;
margin-left:10;
border: 1px solid silver;
background-color: #f4f4f41;
padding:2%;
} 
// стили для обратной связи
#wrapper #leftCol .article div.more{
width: 20%;
} 
#wrapper #leftCol input{
Width: 40%;
margin-left: 30%;
float: left;
border-radius: 5px;
border: 2px solid silver;
padding: 5px;
color:#afebf8;
margin-bottom: 10px;
font-size: 1.2em;
} 
#wrapper #leftCol input:focus, 
#vrapper #leftcol textarea:focus{
border: 2px solid #f78080;
} 
#wrapper #leftCol input#done:hover{
border: 2px solid #f8d881;
Cursor: pointer;
} 
#wrapper #leftCol textarea{
Width: 50%;
height: 150px;
margin-left: 254;
float: left;
border-radius:5px;
border: 2px solid silver;
padding:5px;
color:#afebf8;
margin-bottom:10px;
font-size:1.2em;
resize:none;
}

//стили для праврй колнки
@media (min-width:800px){
#wrapper #rightcol{
Width:20%;
float:left;
}}
@media (min-width:799px){
#wrapper #rightcol{
Width:80%;
margin-left:5;
float:left;
}}
#wrapper #rightcol .baner{
Width:100%;
float:left;
margin-bottom:20px;
border:2px solid,silver;
box-sizing:border-box;
}
//стили для footer

footer{
width:98%;
float:left;
Padding:1%;
background-color:#fafafa;
border-top:2px solid,silver;
margin-top:10px;
}
footer #social{
width:50%;
float:left;
}
footer #social img{
width:30px;
height:30px;
float:left;
margin-right:5px;
}
footer #rights{
width:50%;
float:left;
text-align:right;
Font-size:1.1em;
}